<% layout('boiler_plate')%>


<form action="/bill" method="POST">
    <h2>Customer Details</h2>
    <div>
        <label for="customer">Enter Customer Name:</label>
        <input type="text" name="customer_name" id="customer_name" >
    </div>
    <div>
        <label for="customer">Enter Customer Contact:</label>
        <input type="text" name="customer_contact" id="customer_contact" >
    </div>
    <h2>Item Details</h2>
    <div>
        <label for="customer">Enter Item Details:</label>
        <div class="form-row" id="item0">
            <div class="col-7">
                <input type="text" name="item_name[]" class="form-control" placeholder="Item Name"  >
            </div>
            <div class="col">
                <input type="number" name="item_quantity[]" class="form-control" min="1" placeholder="Quantity"  >
            </div>
            <div>
                <button type="button" onclick="remove_item(this)">Remove Item</button>
            </div>
        </div>
    </div>
    <div>
        <button type="button" onclick="add_item()">Add Item</button>
    </div>
    <button id="submit" type="submit">Create Bill</button>
</form>


<style>
    .controls {
  width: 294px;
  margin: 15px auto;
}

#remove_fields {
  float: right;
}
</style>


<script>
var i = 0;
var original = document.getElementById('item0');

function add_item() {
    var clone = original.cloneNode(true);
    clone.id = "item" + ++i;
    original.parentNode.appendChild(clone);
}

function remove_item(el) {
    i--;
    if(i>=0)
    {
        $(el).parent('div').parent('div').remove();
    }
    else
    {
        i++;
        alert("Bill must have atleast one item")
    }
}
</script>