<% layout('../views/boiler_plate')%>

<script type="text/javascript">
  let x;
  let y;
  let z=4;
    function fun(id1,id2){
      x=document.getElementById(id1);
      y=document.getElementById(id2);
    }
    function fillValue(x1,x2){
        const val1=document.getElementById(x1).value
        if(val1!==''){
          x.innerHTML=val1;
          document.getElementById(x1).value=''
        }
        const val2=document.getElementById(x2).value
        if(val2!==''){
          y.innerHTML=val2;
          document.getElementById(x2).value=''
        }
    }
    function addItem(ai0,ai1,ai2,ai3,ai4){
      let itemTable = document.getElementById('item_table');
      let row = itemTable.insertRow(-1);
      let c0 = row.insertCell(0);
      let c1 = row.insertCell(1);
      let c2 = row.insertCell(2);
      let c3 = row.insertCell(3);
      c3.setAttribute('id','p'+z.toString());
      let c4 = row.insertCell(4);
      c4.setAttribute('id','q'+z.toString());
      let c5 = row.insertCell(5);


      let id = document.getElementById(ai0);
      let productName = document.getElementById(ai1);
      let description = document.getElementById(ai2);
      let mrp = document.getElementById(ai3);
      let quantity = document.getElementById(ai4);
      
      c0.innerText = id.value;
      c1.innerText = productName.value;
      c2.innerText = description.value;
      c3.innerText = mrp.value;
      c4.innerText = quantity.value;
      
      let button = document.createElement("button");
      button.innerHTML = "Change";
      button.setAttribute('type','button');
      button.setAttribute("class","btn btn-primary");
      button.setAttribute("data-toggle","modal");
      button.setAttribute("data-target","#ex1");
      button.setAttribute("onclick",`fun('${'p'+ z.toString()}','${'q'+z.toString()}')`);

      console.log(button);
      c5.appendChild(button);
      
      id.value='';productName.value='';description.value='';mrp.value='';quantity.value='';
      z++;
   }

</script>

<div class="text-center" >
    <h1>Inventory</h1>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addItem">
      Add Item
    </button>
    <br><br>
    <table class="table table-dark" id="item_table">
        <thead>
          <th>Product Id</th>
          <th>Product name</th>
          <th>Description   </th>
          <th>MRP</th>
          <th>Quantity</th>
          <th>Update</th>
        </thead>
        <tr>
          <td>1</td>
          <td>Iodex</td>  
          <td>Dabur</td>
          <td id="p1">15</td>
          <td id="q1">500</td>
          <td>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ex1" onclick="fun('p1','q1')">
                Change
            </button>
          </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Sugar</td>  
            <td>Reliance 10KG</td>
            <td id="p2">500</td>
            <td id="q2">100</td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ex1" onclick="fun('p2','q2')">
                    Change
                </button>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>Rice</td>  
            <td>India gate 1KG</td>
            <td id="p3">100</td>
            <td id="q3">500</td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ex1" onclick="fun('p3','q3')">
                    Change
                </button>
            </td>
        </tr>
      </table>

<!-- Update Modal -->
      <div class="modal fade" id="ex1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Make Changes</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
    
              <form >
                <label class="col-sm-2 col-form-label">MRP</label>
                <input type="text" id="s1" value=""><br>
                <label class="col-sm-2 col-form-label">Quantity</label>
                <input type="text" id="i1" value=""><br>
              </form>
    
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" 
              onclick="fillValue('s1','i1')">Save changes</button>
            </div>
          </div>
        </div>
      </div>

<!-- add item modal -->
      <div class="modal fade" id="addItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered mw-100 w-75" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Add Item</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
    
              <form >
                <label class="col-sm-2 col-form-label" for="ai0">Product Id</label>
                <input type="text" id="ai0" value="" ><br>
                <label class="col-sm-2 col-form-label" for="ai1">Product Name</label>
                <input type="text" id="ai1" value="" ><br>
                <label class="col-sm-2 col-form-label" for="ai2">Description</label>
                <input type="text" id="ai2" value=""><br>
                <label class="col-sm-2 col-form-label" for="ai3">MRP</label>
                <input type="number" id="ai3" value=""><br>
                <label class="col-sm-2 col-form-label" for="ai4">Quantity</label>
                <input type="number" id="ai4" value=""><br>
              </form>
    
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" 
              onclick="addItem('ai0','ai1','ai2','ai3','ai4')">Add</button>
            </div>
          </div>
        </div>
      </div>


</div>
    